<!DOCTYPE html>
<html xmlns:fb='http://ogp.me/ns/fb#' xmlns:og='http://opengraphprotocol.org/schema/' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta charset='utf-8'>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width' name='viewport'>
    <meta keywords='Таиланд Паттайя дорога Бангкок Камбоджа виза отдых рыбалка ночь а го-го 18+'>
    <meta description='Таиланд: отдых, путешествия, жилье, лайфхаки'>
    <meta content='FCtw_ZwbYC0qJRAoNU0ehIqeh-tEF7CEmANjDPFRWS8' name='google-site-verification'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Тай Гоу Гоу - мой Таиланд</title>
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/all.js" type="text/javascript"></script>
    <script src="/javascripts/dev.js" type="text/javascript"></script>
    <link href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' rel='stylesheet'>
  </head>
  <body>
    <!--[if lt IE 7]> <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p> <![endif]-->
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class="brand" href="/">Thai Go Go</a>
          <ul class='nav pull-right'>
            <li>
              <a href="/">Главная</a>
            </li>
            <li>
              <a href="/blog/">Блог</a>
            </li>
            <li>
              <a href="/about/">Об авторе</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='container-narrow'>
      <div class='span3'>
        <div class='sidebar-nav-fixed'>
          <div class='tgg-sidenav google-shadow'>
            <ul class='nav nav-list'>
              <li class='nav-header'>популярные теги</li>
              <a class="label label-info" href="/blog/tag/pattaya/">#Паттайя (4)</a>
              <a class="label label-info" href="/blog/tag/trip/">#дорога (3)</a>
              <a class="label label-info" href="/blog/tag/bangkok/">#Бангкок (3)</a>
              <a class="label label-info" href="/blog/tag/cambodia/">#Камбоджа (2)</a>
              <a class="label label-info" href="/blog/tag/visa/">#виза (2)</a>
              <a class="label label-info" href="/blog/tag/relax/">#отдых (2)</a>
              <a class="label label-info" href="/blog/tag/fishing/">#рыбалка (1)</a>
              <a class="label label-info" href="/blog/tag/nightlife/">#ночь (1)</a>
              <a class="label label-info" href="/blog/tag/agogo/">#а го-го (1)</a>
              <a class="label label-info" href="/blog/tag/18plus/">#18+ (1)</a>
            </ul>
          </div>
        </div>
      </div>
      <!-- .footer &copy; thaigogo.ru 2013 -->
    </div>
    <div class='footer'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='span4'>
            <h4>Свежие статьи</h4>
            <p></p>
            <ul>
              <li><a href="/blog/thai-food-introduction/">Тайская кухня - как едят в Таиланде</a></li>
              <li><a href="/blog/five-common-scams-in-thailand/">Пять распространенных разводов в Таиланде</a></li>
              <li><a href="/blog/what-inside-agogo/">Что находится внутри а го-го бара</a></li>
              <li><a href="/blog/pattaya-bangkok/">Как добраться из Паттайи в Бангкок</a></li>
              <li><a href="/blog/tuktuk-pattaya/">Маршрутка курорта Паттайя - тук-тук</a></li>
              <li><a href="/blog/evisa-cambodia/">Как получить электронную визу Камбоджи</a></li>
            </ul>
          </div>
          <div class='span5'>
            <h4>Twitter</h4>
            <p>
              <ul id='tweets'>
                <li class='loading'>Status updating...</li>
              </ul>
            </p>
          </div>
          <div class='span3'>
            <h4>18+</h4>
            <p>Автор не несет ответственности за любые возможные последствия применения информации размещенной на сайте.</p>
            <hr>
            <p>&copy; 2013 ThaiGoGo.Ru</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
      var _gaq=[['_setAccount','UA-24247671-5'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    //]]>
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script>
      !function ($) {
        function handleTweets(tweets){
            var x = tweets.length;
            var n = 0;
            var element = document.getElementById('tweets');
            var html = '<ul>';
            while(n < x) {
              html += '<li>' + tweets[n] + '</li>';
              n++;
            }
            html += '</ul>';
            element.innerHTML = html;
        }
        $(function(){
          twitterFetcher.fetch('358426809336999936', 'tweets', 3, true, false, false, prettyDate, false, handleTweets);
        })
      }(window.jQuery);
    </script>
    <script>
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
    </script>
    <!--[if lt IE 9]>
      <script src='/javascripts/html5shiv.js'></script>
    <![endif]-->
  </body>
</html>
